*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #FF6800;
    --second-color:#1A1A1A;
    --third-color:#008001;
    --fourth-color:#FF0000;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}



ul {
    list-style-type: none;
    display: flex;
    margin-right: 50px;
    color: white;

}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--first-color);

}

.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

img{
    width: 100%;
}

.card{
    width: calc(100%/3);
    padding: 0 5px 20px;
    min-width: 300px;
    position: relative;
}
